#version=RHEL8

cmdline
skipx

url --url=https://download.rockylinux.org/pub/rocky/8/BaseOS/aarch64/os/

%addon com_redhat_kdump --disable
%end

keyboard --xlayouts='us'
lang en_US.UTF-8

network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=rockylinux8
firewall --enabled --ssh
selinux --enforcing

%packages
@^minimal-environment
-iwl*
%end

firstboot --disabled
eula --agreed
reboot

clearpart --all --initlabel
ignoredisk --only-use=sda
autopart

timezone Etc/UTC --utc

rootpw --plaintext vagrant
user --name=vagrant --password=vagrant --plaintext

%post
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >/etc/sudoers.d/vagrant
%end



